/* Css that forms the base of the entire website. */

* {
    box-sizing: border-box;
}

.clear {
    clear:both;
}

.jcode {
	background-color: #f9f2f4;
	border: 5px solid #fff;
	padding: 10px;
	margin: 0 auto;
	overflow: hidden;
	display: none;
}

.flip {
	color: #f2f2f2;
	background: linear-gradient(#40BC40, #202020);
	margin-left: 18%;
	padding: 10px 120px;
	border-radius: 5px;
	border: 0px;
}



