#widget-wrapper9 .clear {
    clear:both;
}
#widget-wrapper9 {
    font-family: arial;
    box-sizing: border-box,    
}

#widget-wrapper9 .post {
    margin: 0 auto;
    width: 610px;
    background-color: #fff; 
}

#widget-wrapper9 .post .left-control {
    width: 400px;
    float: left;
    background-color: #0b0b0b;
    height: 330px;
}

#main-img {
    width: 250px;
    height: 330px;
    margin-left: 75px;
    margin-right: 75px;
    cursor: pointer;
}

#exit {
    float: right;
    margin-right: 5px;
    color: #7b7b7b;
    font-weight:  700;
    cursor: pointer;
}

#widget-wrapper9 .post .right-control {
    float: left;
    width: 200px;
    padding: 5px;
    height: 320px;
    background-color: #fff;
}

#widget-wrapper9 .top {
    height: 270px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 4px;
}

#widget-wrapper9 .top .content-control img {
    height: 26px;
    width: 26px;
    border-radius: 26px;
    cursor: pointer;
}

#widget-wrapper9 .content {
    margin-bottom: 10px;
}

#widget-wrapper9 .name {
    color: #0066ff;
    font-size: 12px;
    margin-bottom: 3px;
    cursor: pointer;
}

#widget-wrapper9 .text {
    color: #2a2a2a;
    font-size: 12px;
    margin-bottom: 1px;
}

#widget-wrapper9 .date {
    color: #666666;
    font-size: 10px;
}

#widget-wrapper9 .bottom {
    height: 10px;
}

#widget-wrapper9 .bottom input {
    padding: 4px;
    width: 95%;
    height: 20px;
}

