#widget-wrapper5 {
    font-family: arial;
    box-sizing: border-box;
    color: #3d3d3d;
}

#widget-wrapper5 .clear {
    clear:both;
}

#widget-wrapper5 .post {
    padding: 15px;
    position: relative;
    margin: 30px auto;
    width: 500px;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
}

#widget-wrapper5 .post .head {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

#widget-wrapper5 .post .head img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    float: left;
}

#widget-wrapper5 .post .head .title {
    width: 40%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 18px;
    float: left;
}

#widget-wrapper5 .post .head .info {
    width: 50%;
    font-size: 14px;
    float: left;
}

#widget-wrapper5 .post .head .right {
    background-color: #f2f2f2;
    padding: 6px;
    position: absolute;
    top: 25px;
    right: 0px;
    width: 20%;
    float: right;
}

#widget-wrapper5 .post .head .colorblock {
    background-color: #4d91f0;
    width: 4px;
    height: 60px;
    position: absolute;
    top: 25px;
    right: -5px;
}

#widget-wrapper5 .post .passage {
    margin-bottom: 30px;
    font-size: 12px;
}

#widget-wrapper5 .post .footer {
    width: 100%;
}

#widget-wrapper5 .post .footer button {
    margin-right: 5px;
    height: 35px;
    width: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

#widget-wrapper5 .post .footer button:hover {
    color: #fff;
    background-color: #3d3d3d;
    border-color: #3d3d3d;
}

#widget-wrapper5 .post .footer input {
    width: 74%;
    height: 25px;
    padding: 5px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}