#widget-wrapper4 {
    font-family: arial;
    box-sizing: border-box;
}

#widget-wrapper4 .clear {
    clear:both;
}

#widget-wrapper4 .post {
    margin: 50px auto;
    height: 200px;
    width: 50%;
    border-radius: 5px;
    padding: 20px;
    background-color: #ffffff;
    color: #2d2e2e;
}

#widget-wrapper4 .post .title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}

#widget-wrapper4 .post .content {
    width: 100%;
    margin-bottom: 20px;
}

#widget-wrapper4 .percent {
    float: right;
    width: 10%;
}

#widget-wrapper4 .data {
    float: left;
    width: 50%;
}

#widget-wrapper4 #grad1 {
    width: 100%;
    height: 20px;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #f2f2f2 55%, #4d91f0 45%);
    background: -o-linear-gradient(right, #f2f2f2 55%, #4d91f0 45%); 
    background: -moz-linear-gradient(right, #f2f2f2 55%, #4d91f0 45%); 
    background: linear-gradient(right, #f2f2f2 55%, #4d91f0 45%); 
}

#widget-wrapper4 #grad2 {
    width: 100%;
    height: 20px;
    border-radius: 5px;
     background: -webkit-linear-gradient(left, #f2f2f2 70%, #42c24d 30%);
    background: -o-linear-gradient(right, #f2f2f2 70%, #42c24d 30%); 
    background: -moz-linear-gradient(right, #f2f2f2 70%, #42c24d 30%); 
    background: linear-gradient(right, #f2f2f2 70%, #42c24d 30%); 
}
